alias rm="nocorrect rm"
alias cp="nocorrect cp"
alias wip="nocorrect git commit -a -m WIP"
alias squish="nocorrect git status && git commit -a --amend -C HEAD"
alias dev="nocorrect cd ~/Dropbox/Development"
