[user]
  name = Tyler Christiansen
  email = code@tylerc.me
[core]
  editor = vi
  excludesfile = ~/.gitignore
[commit]
  template = ~/.gitmessage
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[web]
  browser = google-chrome
[credential]
  helper = osxkeychain
[push]
  default = simple
[help]
  autocorrect = 1
[alias]
  l = log --graph --pretty=format:\"%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset\" --abbrev-commit
  s = status -s
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  dm = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
  contributors = shortlog --summary --numbered
